# Override these values with your local postgres credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

POSTGRES_DB=incredihire
STACK_NAME=stack_incredihire
DOMAIN=localhost
SECRET_KEY=changethis
STACK_NAME=fastapi-project
PROJECT_NAME=FastAPI Project
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis
SMTP_HOST=mailcatcher
SMTP_PORT=1025
SMTP_TLS=false
SMTP_SSL=false
SMTP_USER=null
SMTP_PASSWORD=null
EMAIL_TEST_USER=admin@example.com
EMAIL_TEST_PASSWORD=changethis
DOCKER_IMAGE_CELERYWORKER=survey_celeryworker
DOCKER_IMAGE_FRONTEND=survey_frontend
DOCKER_IMAGE_BACKEND=survey_backend
TAG=latest
